In [1]:
import numpy as np

# Set up matplotlib and use a nicer set of plot parameters
%config InlineBackend.rc = {}
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

# import math
import numpy as np
import matplotlib.pyplot as plt

#import time
import datetime

In [2]:
from astropy.io import ascii

# Importing data from JPL Horizons

In [3]:
tbl = ascii.read("ELEMENTS.NUMBR")
tbl

<Table length=523824>
 Num      Name    Epoch     a     ...      M         H       G      Ref
int64    str17    int64  float64  ...   float64   float64 float64   str7
------ ---------- ----- --------- ... ----------- ------- ------- -------
     1      Ceres 58600 2.7691651 ...  77.3720977    3.34    0.12  JPL 34
     2     Pallas 58600 2.7724659 ...   59.699131    4.13    0.11  JPL 34
     3       Juno 58600 2.6691495 ...   34.925019    5.33    0.32 JPL 107
     4      Vesta 58600 2.3614179 ...  95.8619362     3.2    0.32  JPL 34
     5    Astraea 58600 2.5742489 ... 282.3662913    6.85    0.15 JPL 107
     6       Hebe 58600   2.42516 ...  86.1979217    5.71    0.24  JPL 85
     7       Iris 58600 2.3853338 ... 140.4196554    5.51    0.15 JPL 108
     8      Flora 58600 2.2017642 ... 194.8828966    6.49    0.28 JPL 116
     9      Metis 58600 2.3856365 ... 276.8616188    6.28    0.17 JPL 113
    10     Hygiea 58600 3.1415392 ... 152.1848508    5.43    0.15  JPL 90
   ...        ...   ...       ... ...         ...     ...     ...     ...
523815  2009 HW44 58600 2.6874057 ...  52.4018906    17.5    0.15  JPL 46
523816 2009 ST103 58600 2.6886324 ...  41.4086496    18.1    0.15  JPL 34
523817    2009 TK 58600 1.3077824 ... 134.9360337    22.3    0.15  JPL 33
523818  2010 SH13 58600 1.2059555 ... 325.6154636    21.3    0.15  JPL 39
523819  2010 VB72 58600 1.2176171 ... 347.5524098    20.9    0.15  JPL 39
523820  2011 GN44 58600 2.2447515 ...  81.1094202    18.3    0.15  JPL 26
523821    2011 RF 58600  1.766413 ...  95.1829618    20.5    0.15  JPL 28
523822  2012 DG61 58600 3.2512573 ...  56.0597163    18.2    0.15  JPL 54
523823 2015 BG311 58600  2.568408 ...  58.6176278    18.1    0.15  JPL 25
523824   2016 RO1 58600 1.5545656 ...  61.1710821    19.5    0.15  JPL 57

In [4]:
tbl["w"]

<Column name='w' dtype='float64' length=523824>
 73.59769
310.04886
248.13863
150.72854
358.68761
239.80749
 145.2651
285.28746
  6.41737
312.31521
 195.5504
 69.64181
      ...
136.91482
283.28439
296.56325
233.84485
181.43365
  10.9688
 337.8376
 319.3553
107.63119
186.13602
127.19745
187.46631

In [35]:
t = tbl[0]

<Row index=0>
 Num   Name Epoch     a         e         i        w       Node       M         H       G     Ref
int64 str17 int64  float64   float64   float64  float64  float64   float64   float64 float64  str7
----- ----- ----- --------- ---------- -------- -------- -------- ---------- ------- ------- ------
    1 Ceres 58600 2.7691651 0.07600903 10.59407 73.59769 80.30553 77.3720977    3.34    0.12 JPL 34

In [36]:
# Assigning the name of the asteroid
t[1]

'Ceres'

In [38]:
# Assigning the semi-major axis in meters
a = t[3]*1.496e+11

414267098960.0

In [39]:
# Assigning the eccentricity
e = t[4]

0.07600903

In [50]:
# Assigning the ascending node
Ω = t[7]

80.30553

In [51]:
# Assigning the argument of perihelion
ω = t[6]

73.59769

In [40]:
# Assigning the inclination of the orbit w.r.t J2000 ecliptic plane (plane of Earth's orbit around the sun)
i = t[5]

10.59407

In [41]:
# Calculating b, the semi-minor axis
b = a*((1-(e**2))**(1/2))

413068677819.40436

In [42]:
# Calculating f, the distance from the center of the orbit to the Sun
f = a*e

31488040352.86361

In [43]:
# Calculating P, the orbital period
P = (a)**(3/2)

2.666371536483298e+17

In [44]:
# Epoch is represented as the Modified Julian Date, which is defined as the Julian Date - 2400000.5
# The number of days since the midnight on November 17, 1858
# Epoch in seconds is given as:
Epoch = t[2]*24*60*60

5063040000

In [54]:
# Obtaining the Mean anomaly at Epoch
M = t[8]

77.3720977

In [55]:
# Obtaining the Current Mean anomaly
M = M + Epoch*(((1.32712440041*(10**20))/a**3)**(1/2))

296.1213166262361

In [56]:
# Computing the Eccentric anomaly
E = 292.0858840226028

292.0858840226028

In [57]:
# Computing the True anomaly
ν = -72.0123171654385

-72.0123171654385

In [58]:
# Computing the distance to the asteroid in meters
r = a*(1 - e*np.cos(E))

445648734655.5007

In [61]:
# Computing the position vectors
p = r*np.array([np.cos(ν),np.sin(ν),0])

array([-4.32414537e+11, -1.07798251e+11,  0.00000000e+00])

In [62]:
# Computing the velocity vectors
v = (((1.32712440041*(10**20)*a)**(1/2))/r)*np.array([-1*np.sin(E),((1-e**2)**(1/2))*np.cos(E),0])

array([ -1366.65425421, -16533.89310335,      0.        ])

In [63]:
# Further computing - Transformation of the position and velocity vectors to heliocentric rectangular coordinates with rotation matrices
# Switch to Mathematica for computational simplicity