In [58]:
import numpy as np

# Set up matplotlib and use a nicer set of plot parameters
%config InlineBackend.rc = {}
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

# import math
import numpy as np
import matplotlib.pyplot as plt

#import time
import datetime

In [59]:
from astropy.io import ascii

# Importing data from JPL Horizons

In [60]:
tbl = ascii.read("ELEMENTS.NUMBR")
tbl

<Table length=523824>
 Num      Name    Epoch     a     ...      M         H       G      Ref
int64    str17    int64  float64  ...   float64   float64 float64   str7
------ ---------- ----- --------- ... ----------- ------- ------- -------
     1      Ceres 58600 2.7691651 ...  77.3720977    3.34    0.12  JPL 34
     2     Pallas 58600 2.7724659 ...   59.699131    4.13    0.11  JPL 34
     3       Juno 58600 2.6691495 ...   34.925019    5.33    0.32 JPL 107
     4      Vesta 58600 2.3614179 ...  95.8619362     3.2    0.32  JPL 34
     5    Astraea 58600 2.5742489 ... 282.3662913    6.85    0.15 JPL 107
     6       Hebe 58600   2.42516 ...  86.1979217    5.71    0.24  JPL 85
     7       Iris 58600 2.3853338 ... 140.4196554    5.51    0.15 JPL 108
     8      Flora 58600 2.2017642 ... 194.8828966    6.49    0.28 JPL 116
     9      Metis 58600 2.3856365 ... 276.8616188    6.28    0.17 JPL 113
    10     Hygiea 58600 3.1415392 ... 152.1848508    5.43    0.15  JPL 90
   ...        ...   ...       ... ...         ...     ...     ...     ...
523815  2009 HW44 58600 2.6874057 ...  52.4018906    17.5    0.15  JPL 46
523816 2009 ST103 58600 2.6886324 ...  41.4086496    18.1    0.15  JPL 34
523817    2009 TK 58600 1.3077824 ... 134.9360337    22.3    0.15  JPL 33
523818  2010 SH13 58600 1.2059555 ... 325.6154636    21.3    0.15  JPL 39
523819  2010 VB72 58600 1.2176171 ... 347.5524098    20.9    0.15  JPL 39
523820  2011 GN44 58600 2.2447515 ...  81.1094202    18.3    0.15  JPL 26
523821    2011 RF 58600  1.766413 ...  95.1829618    20.5    0.15  JPL 28
523822  2012 DG61 58600 3.2512573 ...  56.0597163    18.2    0.15  JPL 54
523823 2015 BG311 58600  2.568408 ...  58.6176278    18.1    0.15  JPL 25
523824   2016 RO1 58600 1.5545656 ...  61.1710821    19.5    0.15  JPL 57

In [61]:
tbl["w"]

<Column name='w' dtype='float64' length=523824>
 73.59769
310.04886
248.13863
150.72854
358.68761
239.80749
 145.2651
285.28746
  6.41737
312.31521
 195.5504
 69.64181
      ...
136.91482
283.28439
296.56325
233.84485
181.43365
  10.9688
 337.8376
 319.3553
107.63119
186.13602
127.19745
187.46631

In [62]:
t = tbl[0]

<Row index=0>
 Num   Name Epoch     a         e         i        w       Node       M         H       G     Ref
int64 str17 int64  float64   float64   float64  float64  float64   float64   float64 float64  str7
----- ----- ----- --------- ---------- -------- -------- -------- ---------- ------- ------- ------
    1 Ceres 58600 2.7691651 0.07600903 10.59407 73.59769 80.30553 77.3720977    3.34    0.12 JPL 34

In [63]:
"""Definition of the units"""
m = UNITS.meter 
s = UNITS.second
kg = UNITS.kilogram
degree = UNITS.degree
N = UNITS.newton
radian = UNITS.radian
AU = UNITS.au

In [64]:
Serial_Number = t[0]
Name = t[1]
Epoch = t[2]
Semi_major_axis = t[3]
eccentricity = t[4]
inclination = t[5]
argument_of_perehelion = t[6]
node = t[7]
M = t[8]
absolute_magnitude = t[9]
G = t[10]
JPL_reference_code = t[11]

'JPL 34'

In [65]:
"""Definition of the variables. Source: JPL Data"""
params = Params(Num = 1,
                Name = 'Ceres',
                Epoch = 58600,
                a = 2.7691651,
                e = 0.07600903,
                i = 10.59407,
                w = 73.59769,
                Node = 80.30553,
                M = 77.3720977,
                H = 3.34,
                G = 0.12)

Num             1
Name        Ceres
Epoch       58600
a         2.76917
e        0.076009
i         10.5941
w         73.5977
Node      80.3055
M         77.3721
H            3.34
G            0.12
dtype: object

In [66]:
def current_time():
    """
    Finds the current time
    
    """
    current_time = datetime.datetime.now()
    year = current_time.year
    month = current_time.month
    day = current_time.day
    hour = current_time.hour
    minute = current_time.minute
    second = current_time.second

    return year, month, day, hour, minute, second

In [68]:
current_time()

(2019, 3, 13, 14, 40, 36)

In [70]:
# From HuntAsteroids plotting.py
BODY_COLORS = {
    "Sun": "#ffcc00",
    "Earth": "#204a87",
    "Jupiter": "#ba3821",
}

{'Sun': '#ffcc00', 'Earth': '#204a87', 'Jupiter': '#ba3821'}

In [72]:
# From HuntAsteroids plotting.py
def plot(state, label=None):
    """
    Plots a ``State``.
    """
    op = OrbitPlotter()
    return op.plot(state, label=label)

In [73]:
# From HuntAsteroids plotting.py
class OrbitPlotter(object):
    """OrbitPlotter class.

    This class holds the perifocal plane of the first
    :py:class:`~poliastro.twobody.State` plotted in it using
    :py:meth:`plot`, so all following
    plots will be projected on that plane. Alternatively, you can call
    :py:meth:`set_frame` to set the frame before plotting.

    """
    def __init__(self, ax=None, num_points=100, bgcolor=(1,1,1), linewidth=1.5, markersize=6):
        """Constructor.

        Parameters
        ----------
        ax : Axes
            Axes in which to plot. If not given, new ones will be created.
        num_points : int, optional
            Number of points to use in plots, default to 100.

        """
        self.ax = ax
        if not self.ax:
            _, self.ax = plt.subplots(figsize=(6, 6))
        self.ax.set_facecolor(bgcolor)
        self.linewidth=linewidth
        self.markersize=markersize
        self.num_points = num_points
        self._frame = None
        self._states = []

In [74]:
# From HuntAsteroids plotting.py
def set_frame(self, p_vec, q_vec, w_vec):
        """Sets perifocal frame if not existing.

        Raises
        ------
        ValueError
            If the vectors are not a set of mutually orthogonal unit vectors.
        NotImplementedError
            If the frame was already set up.

        """
        if not self._frame:
            if not np.allclose([norm(v) for v in (p_vec, q_vec, w_vec)], 1):
                raise ValueError("Vectors must be unit.")
            if not np.allclose([p_vec.dot(q_vec),
                                q_vec.dot(w_vec),
                                w_vec.dot(p_vec)], 0):
                raise ValueError("Vectors must be mutually orthogonal.")
            else:
                self._frame = p_vec, q_vec, w_vec
        else:
            raise NotImplementedError

In [76]:
# From HuntAsteroids plotting.py
def plot(self, orbit, osculating=True, label=None):
        """Plots state and osculating orbit in their plane.

        """
        # TODO: This function needs a refactoring
        if not self._frame:
            self.set_frame(*orbit.pqw())

        self._states.append(orbit)

        lines = []

        nu_vals = self._generate_vals(orbit.state)

        # Compute PQW coordinates
        r_pqw, _ = rv_pqw(orbit.attractor.k.to(u.km ** 3 / u.s ** 2).value,
                          orbit.p.to(u.km).value,
                          orbit.ecc.value,
                          nu_vals.value)
        r_pqw = r_pqw * u.km

        # Express on inertial frame
        e_vec, p_vec, h_vec = orbit.pqw()
        p_vec = np.cross(h_vec, e_vec) * u.one
        rr = (r_pqw[:, 0, None].dot(e_vec[None, :]) +
              r_pqw[:, 1, None].dot(p_vec[None, :]))

        # Project on OrbitPlotter frame
        # x_vec, y_vec, z_vec = self._frame
        rr_proj = rr - rr.dot(self._frame[2])[:, None] * self._frame[2]
        x = rr_proj.dot(self._frame[0])
        y = rr_proj.dot(self._frame[1])

        # Plot current position
        l, = self.ax.plot(x[0].to(u.km).value, y[0].to(u.km).value,
                          'o', mew=0, markersize=self.markersize)
        lines.append(l)

        # Attractor
        # TODO: If several orbits are plotted, the attractor is being plotted several times!
        #radius = max(orbit.attractor.R.to(u.km).value,
        #             orbit.r_p.to(u.km).value / 6)
        radius = max(orbit.attractor.R.to(u.km).value,
                     orbit.r_p.to(u.km).value / 12)
        color = BODY_COLORS.get(orbit.attractor.name, "#999999")
        self.ax.add_patch(
                mpl.patches.Circle((0, 0), radius, lw=0, color=color))

        if osculating:
            l, = self.ax.plot(x.to(u.km).value, y.to(u.km).value,
                              '--', color=l.get_color(),linewidth=self.linewidth)
            lines.append(l)

        if label:
            # This will apply the label to either the point or the osculating
            # orbit depending on the last plotted line, as they share variable
            l.set_label(label)
            self.ax.legend()

        self.ax.set_title(orbit.epoch.iso)
        self.ax.set_xlabel("$x$ (km)")
        self.ax.set_ylabel("$y$ (km)")
        self.ax.set_aspect(1)

        return lines